.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/application/sessions/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/assets/node_modules/
/assets/package-lock.json

/admin/application/logs/*
/admin/application/session/*
assets/images/ebooks/cover/07febdaa6e31559809f43a1739d3a6d9.jpg
assets/images/ebooks/cover/17c43f42bb1521bc52590e388ca165e7.jpg
assets/images/ebooks/cover/4d9748469310a6bbe70c0b5abcc26708.jpg
assets/images/ebooks/cover/910ffbfdd4046052fefabf87b0cd72bf.jpg
assets/images/ebooks/cover/9b0b91b330b385c8b6e839c3a82227b4.jpg
assets/images/ebooks/cover/9d5696687123b86352ea7c76bbbf8bc9.jpg
assets/images/ebooks/cover/a06f3b7325d868c1134edc5e4cc36048.jpg
assets/images/ebooks/cover/e3d2d455999a8692020dac75a52f60fc.jpg
assets/images/ebooks/cover/e793218034c9e38137090a91c9d4a7b8.jpg
assets/images/ebooks/cover/f44863b3afb8feb1f2c5845c04fa5476.jpg
