/*
Woow VMS Orange Light Style
*/
ul#sidenav li.red, header nav.red, main .card .red, footer .red, nav.red {
	background-color: orange !important;
}
.userView {
	background:orange !important;
}
ul#sidenav li a.hello {
	color:#000000 !important;
	font-size:120% !important;
}