.profile-container{
	text-align: center;
	display: none;
	position: absolute;
	border: 1px;
	border-color: aquamarine;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	/* right: 50px; */
	margin-left: -100px;
	width: 200px;
}
.profile-container > p, .profile-container a p {  cursor: pointer;  margin-top: 5px;  margin-bottom: 5px; font-size: 16px; } 
.profile-container > p:hover, .profile-container a p:hover {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5.3px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.1);
} 
.fs-10{ font-size: 10px; }
.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.fs-16{ font-size: 16px; }
.fs-20{ font-size: 20px; }
.card .title{
	letter-spacing: 0;
    line-height: 1.5rem;
    /* z-index: 2; */
    padding: 15px 15px 0 15px;
    color: #383838;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.sesi-class{ font-weight: bold; padding: 10px;cursor: pointer; } 
.sesi-class.active{ border-bottom: 3px solid green; color: green; } 
.news-item h6:hover{ color: rgb(0, 142, 0) !important; cursor: pointer; }
.news-item:hover{ transform: scale(1.01); }
.btn-clear:hover{ background-color: rgba(0, 0, 0, 0.1); }
.profile-image-menu img{ border-radius: 50%; margin-top: 20px; margin-bottom: 20px; }
.stat-circle {
    height: 116px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	background-color: rgba(57, 201, 167, 0.1);
}
.stat-number {
	color: rgb(52, 196, 199);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 38px;
    text-align: center;
}
.btn-eye{ cursor: pointer; }
.btn-eye i:hover{ color: rgb(0, 183, 0); transition: all .3s ease-in-out;}
.image-content img{
	border-radius: 50%;
    border-color: black;
    border: 1px solid #bdc1b8;
    padding: 2px;
}
.data-by-date input{ border-radius: 10px; border: 1px solid #bdc1b8; }
.table-rounded{ border-collapse: separate; border: solid #a8ded8 1px; border-radius: 10px; }
.table-rounded td, .table-rounded th {
	border-left: solid #a8ded8 1px;
	border-top: solid #a8ded8 1px;
	padding: 10px;
}
.table-rounded th { background-color: #59c2ff; border-top: none; } 
.table-rounded td:first-child, .table-rounded th:first-child { border-left: none; } 
a { cursor: pointer; } 
@media screen and (min-width:1080px) and (max-width: 1080px) and (min-height: 2160px) and (min-height: 2160px){
	html, body{ height: 100%; }
	html body main{ height: 95%; }
}
@media screen and (min-width:990px) and (max-width: 1200px){
	#navbarNav .d-lg-block{
		position: absolute;
		right: 24px;
	}
}
.dataTables_length, .dataTables_filter{ display: none; }
#tableTask_info, #tableExam_info { display: none; }
.nav-item a.nav-link{
	background-image: linear-gradient(
		to right,
		#ffffb3,
		#fdff75 50%,
		#FFF 50%
	);
	font-weight: bold;
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}
.nav-item a.nav-link::before{
	content: '';
	background: #ffffff;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}
.nav-item a.nav-link:hover{ background-position: 0; }
.nav-item a.nav-link:hover::before{ width: 100%; }
.notif-number{  position: absolute; margin-left: -8px; }
.notif-group{ cursor: pointer; }
.notif-content-container{
	display: none;
	background-color: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	position: absolute;
	right: 50px;
	max-height: 500px;
    min-height: 400px;
    min-width: 25rem;
    overflow-y: auto;
 }
 .notif-content-container::-webkit-scrollbar{ width: 5px; }
 .notif-content-container::-webkit-scrollbar-track{ background: #f1f1f1; }
 .notif-content-container::-webkit-scrollbar-thumb{ background: #888; }
 .notif-content-container::-webkit-scrollbar-thumb:hover{ background: #aaa; }
 @media screen and(min-width: 1200) and (max-width: 1400px) {
	.notif-content-container{
		right: 200px;
	}
 }
.notif-header{ margin-top: 5px; }
.notif-list{
	padding: 10px;
	background-color: #ebf6fb;
	border-radius: 7px;
	margin-bottom: 3px;
	cursor: pointer;
}
.notif-date{
	color: #8d8d8d;
}
.dotted-notif{
	background-color: green;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	display: inline-block;
	position: absolute;
	right: 30px;
}
.dataTables_paginate.paging_simple_numbers{ margin-top: 10px; }
.dataTables_paginate.paging_simple_numbers span a.paginate_button.current{ 
	background-color: rgb(80, 165, 241);
	border-radius: 10px;
	border-color: rgb(206, 223, 255);
}
.dataTables_paginate.paging_simple_numbers span a.paginate_button:hover{
	background-color: rgb(80, 165, 241);
	border-radius: 10px;
	border-color: rgb(206, 223, 255);
}
.date-news-card{
	background-color: white;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.title-news-card{ text-align: center; font-size: 20px; padding-bottom: 20px; }
.content-news-card{ font-size: 16px; padding-top: 20px; }
.task-card-content{ font-size: 16px;}
.task-card-title{ font-size: 20px;}
.task-card-date{
	background-color: orange;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	color: white;
}

@media screen and(min-width: 990px) and (max-width: 1200px){
	.navbar-brand{
		margin-top: 0px;
	}
	#navbarNav #ulNavbarNav{
		margin-left: 0px !important;
	}
	.card-foto-siswa, .card-filter-tugas{
		height: 300px;
	}
}

/* .total-exam{
	background: #c1faff;
    border: 1px solid #0dc7ff;
} */

@media screen and(min-width: 768px) and(max-width: 990px){
	.card-foto-siswa, .card-filter-tugas{
		height: 400px;
	}
}
