.profile-container{
	text-align: center;
	display: none;
	position: absolute;
	border: 1px;
	border-color: aquamarine;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	/* right: 50px; */
	margin-left: -100px;
	width: 200px;
}
.profile-container > p, .profile-container a p {  cursor: pointer;  margin-top: 5px;  margin-bottom: 5px; font-size: 16px; } 
.profile-container > p:hover, .profile-container a p:hover {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5.3px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.1);
} 
.fs-12{ font-size: 12px; }
.fs-16{ font-size: 16px; }
.fs-14{ font-size: 14px; }
.card .title{
	letter-spacing: 0;
    line-height: 1.5rem;
    /* z-index: 2; */
    padding: 15px 15px 0 15px;
    color: #383838;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.sesi-class{ font-weight: bold; padding: 10px;cursor: pointer; } 
.sesi-class.active{ border-bottom: 3px solid green; color: green; } 
.news-item h6:hover{ color: rgb(0, 142, 0) !important; cursor: pointer; }
.news-item:hover{ transform: scale(1.01); }
.btn-clear:hover{ background-color: rgba(0, 0, 0, 0.1); }
.profile-image-menu img{ border-radius: 50%; margin-top: 20px; margin-bottom: 20px; }
.stat-circle {
    height: 116px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	background-color: rgba(57, 201, 167, 0.1);
}
.stat-number {
	color: rgb(52, 196, 199);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 38px;
    text-align: center;
}
.btn-eye{ cursor: pointer; }
.btn-eye i:hover{ color: rgb(0, 183, 0); transition: all .3s ease-in-out;}
.image-content img{
	border-radius: 50%;
    border-color: black;
    border: 1px solid #bdc1b8;
    padding: 2px;
}
.data-by-date input{ border-radius: 10px; border: 1px solid #bdc1b8; }
.table-rounded{
	border-collapse: separate;
	border: solid #a8ded8 1px;
	border-radius: 10px;
}
.table-rounded td, .table-rounded th {
	border-left: solid #a8ded8 1px;
	border-top: solid #a8ded8 1px;
	padding: 10px;
}
.table-rounded th {
	background-color: #a8ded8;
	border-top: none;
}

.table-rounded td:first-child, .table-rounded th:first-child {
	border-left: none;
}

a {
	cursor: pointer;
}
